body{
    background-color: red;
}

h1{
    color: blue;
}

div{
    background-color: white;
    border-radius: 5px;
    border-style: dashed;
    border-color:black;
}

h2{
    color: whitesmoke;
}

table{
   border-collapse: collapse;
   width:100%;
}

th, td{
    padding: 10px;
    text-align: justify;
    border-bottom: 1px solid black;
    color: whitesmoke;
}

tr:hover{
    background-color: gray;
}
