body{
    background-color: blue;
}

h1{
    color: red;
}

div{
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
}

h2{
    color: white;
    font-family: Arial;
}

#large-paragraph{
    font-size: 40px;
    font-style: oblique;
}
